mqtt:
  host: 192.168.4.231 # set your mqtt broker
  port: 1883
  username: govee
  password: password
  prefix: govee
  homeassistant: homeassistant

govee:
#  api_key: xxx # only set for remote-api 
#  device_interval: 30 # local can be more frequent
#  device_list_interval: 300 #local can be more frequent


debug: False